<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/jackpip">Jack</a> 
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>
  <br />
  <p>
    Lorem ipsum dolor sit amet, te vis ceteros pertinacia. Everti prodesset cu mea. Modo scripta integre ei mei, ius ad aeterno imperdiet, no qui elit quidam regione. Dictas alterum vim ei, cu quod dignissim est. Et vis eligendi dissentiunt, fastidii senserit incorrupte sea an. Ei nonumes iracundia eum, ad sea labitur maiorum omnesque, no vix cibo erat voluptua.
  </p>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'me.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Jack Pipitone</h2>
    <br />
    <p>
      Sanctus eligendi deterruisset ne mel. Dicta errem usu et, te alia meliore delicatissimi nam, brute sanctus maluisset sea in. In vim fugit persius inermis, quaeque admodum dissentiunt id qui. Ad pro vero solet, an accumsan voluptatibus vix, et vitae bonorum vel. Est quodsi argumentum et, ei eum probatus complectitur.
    </p>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
